<!DOCTYPE HTML>
<html>
<head>
    <title>Research Survey</title>
</head>

<body>
    <div class="login-middle">
        <p>Create Account.</p>
        <form method="post" action="/newUser">
            <input type="text" name="username" placeholder="Enter Username"> <br>
            <input type="password" name="password" placeholder="Password"> <br>
            <input type="submit" value="Sign Up!">
        </form>
    </div>

</body>