<!--
    surveycreator.ejs
    FDASurvey
    Tristan Kindig
    2016-2-14
-->


<!DOCTYPE HTML>
<html>

<head>
    <title>Survey creator</title>
</head>

<body>
    <div class="surveycreator">
        <p>Please name your survey and enter up to three questions which you would like it to ask.</p>
        <form method="post" action="/newSurvey">
            <input type="text" name="surveyName" placeholder="Survey name"> <br>
            <input type="text" name="question1" placeholder="Question 1"> <br>
            <input type="text" name="question2" placeholder="Question 2"> <br>
            <input type="text" name="question3" placeholder="Question 3"> <br>
            <input type="submit" value="Create survey">
        </form>
    </div>
</body>
