<!DOCTYPE HTML>
<html>
<head>
    <title>Research Survey</title>
</head>

<body>
<div class="login-middle">
    <p>Hello <%= name %></p>
    <p>You have the following surveys:</p>
    <ul>
        <% for(var i=0; i<surveys.length; i++) {%>
        <li> <a href="/testLink"> <%= surveys[i] %> </a> </li>
        <% } %>
    </ul>

    <form method="post" action="/users/newSurvey">
        <input type="submit" value="Create New Survey">
    </form>

    <form method="post" action="/logout">
        <input type="submit" value="Logout">
    </form>
</div>

</body>