<!DOCTYPE HTML>
<html>
<head>
    <title>Research Survey</title>
</head>

<body>
<div class="login-middle">
    <p>You are logged in!</p>
    <form method="post" action="/logout">
        <input type="submit" value="Logout">
    </form>
</div>

</body>